*,:after,:before{
	box-sizing:border-box;
}
	.switchContainer{
		display: inline-block;
		font-family: -apple-system, BlinkMacSystemFont,"Segoe UI","Roboto", "Droid Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
		-webkit-text-size-adjust: 100%;
		margin-left: 25px;
	}
	.switchContainer input[type="checkbox"], .switchContainer input[type="radio"] {
		height: 1px;
		width: 1px;
		margin: -1px;
		overflow: visible;
		overflow: hidden;
		position: absolute;
		clip: rect(0 0 0 0);
		-webkit-clip-path: inset(100%);
		clip-path: inset(100%);
	}
	.switchContainer input[type="checkbox"]+label, .switchContainer input[type="radio"]+label {
		position: relative;
		margin-left: 1.25rem;
		cursor: pointer;
		padding: 0.25rem 0.5rem;
	}
	.switchContainer input[type="checkbox"]+label.switch:before, .switchContainer input[type="radio"]+label.switch:before {
		bottom: .5rem;
		width: 1.75rem;
		height: .875rem;
		border: 0;
		border-radius: .5rem;
		background: #c9c9c9;
		margin-left: -2.375rem;	
	}
	.switchContainer input[type="checkbox"]+label:before, .switchContainer input[type="radio"]+label:before {
		display: inline-block;
		position: absolute;
		bottom: .375rem;
		left: 0;
		width: 1rem;
		height: 1rem;
		content: '';
		border: .0625rem solid #bdbdbd;
		border-radius: .125rem;
		background: #fafafa;
		color: #212121;
		margin-left: -1.25rem;
	}
	.switchContainer input[type="checkbox"]+label.switch:after, .switchContainer input[type="radio"]+label.switch:after {
		display: inline-block;
		content: '';
		position: absolute;
		left: 0;
		width: 1.25rem;
		height: 1.25rem;
		background: #e0e0e0;
		border-radius: 100%;
		bottom: .3125rem;
		margin-left: -3rem;
		transition: left 0.3s;
	}
	.switchContainer [type="checkbox"]:checked+label.switch:before, .switchContainer [type="radio"]:checked+label.switch:before {
		background: #dcdcdc;
	}
	.switchContainer [type="checkbox"]+label.switch:before, .switchContainer [type="radio"]+label.switch:before {
		bottom: .5rem;
		width: 1.75rem;
		height: .875rem;
		border: 0;
		border-radius: .5rem;
		background: #c9c9c9;
		margin-left: -2.375rem;
	}
	.switchContainer [type="checkbox"]+label:before, .switchContainer [type="radio"]+label:before {
		display: inline-block;
		position: absolute;
		bottom: .375rem;
		left: 0;
		width: 1rem;
		height: 1rem;
		content: '';
		border: .0625rem solid #bdbdbd;
		border-radius: .125rem;
		background: #fafafa;
		color: #212121;
		margin-left: -1.25rem;
	}
	.switchContainer [type="checkbox"]:checked+label.switch:after, .switchContainer [type="radio"]:checked+label.switch:after {
		left: 1.75rem;
		width: 1.25rem;
		height: 1.25rem;
		bottom: .3125rem;
		margin-left: -3rem;
		background: #0277bd;
	}
	.switchContainer [type="checkbox"]+label.switch:after, .switchContainer [type="radio"]+label.switch:after {
		display: inline-block;
		content: '';
		position: absolute;
		left: 0;
		width: 1.25rem;
		height: 1.25rem;
		background: #e0e0e0;
		border-radius: 100%;
		bottom: .3125rem;
		margin-left: -3rem;
		transition: left 0.3s;
	}
	.switchContainer [type="checkbox"]:checked+label:after, .switchContainer [type="radio"]:checked+label:after {
		position: absolute;
		background: #212121;
		content: '';
		margin-left: -1.25rem;
		bottom: .625rem;
		left: .25rem;
		width: .625rem;
		height: .625rem;
	}
	.switchContainer label{
		text-align: left;
		font-weight: 100;
		color: #696969;
		font-family: inherit;
		font-size: medium;
		font-weight: 500;
		letter-spacing: 0px;
	}
	.switchContainer.grudaBox{
		display: -webkit-box;
		margin-top: -10px;
	}
	.switchContainer label.switch .miniLabel{
		margin-left: -5px;
		color: #686869;
		font-family: -webkit-body;
	}
	.circLoader {
		position: relative;
		height: 15px;
		width: 15px;
		margin-right: 10px;
		display: inline-block;
		animation: circleLoading 5.4s infinite;
	}
	@keyframes circleLoading{
	  0%{ transform: rotate(0deg); }
	  100%{ transform: rotate(360deg);	}
	}
	.circLoader::after, .circLoader::before {
	  content: '';
	  background: white;
	  position: absolute;
	  display: inline-block;
	  width: 100%;
	  height: 100%;
	  border-width: 2px;
	  border-color: #333 #333 transparent transparent;
	  border-style: solid;
	  border-radius: 20px;
	  box-sizing: border-box;
	  top: 0;
	  left: 0;
	  animation: circleLoading 0.7s ease-in-out infinite;
	}
	.circLoader::after {
	  animation: circleLoading 0.7s ease-in-out 0.1s infinite;
	  background: transparent;
	}
	@media print{
		.noprint, nav, .alert, #alert, button, .btn, footer, input[type=button],input[type=reset],input[type=submmit]{
			display:none !important;
		}
		body{
			background-color: white !important;
			padding: 0px;
			margin: 0 !important;
		}
		.page{
			border: none !important;
			page-break-after: avoid !important;
		}
		a{
			text-decoration: none !important;
		}
	}
	body {
		padding: 0;
		margin: 0;
		font-family: 'Raleway', sans-serif;
		font-size: 1rem;
		background-color: #DDD;
		overflow-x: hidden !important;
		overflow-y: auto !important;
	}
	.negrito {font-weight: bold;}
	.underline{ text-decoration: underline; }
	a, a:hover, a:focus {
		outline: none;
		text-decoration: none;
		color: inherit;
	}
	input:focus{
		outline: none;
	}
.card {
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.bglight {
    background: #f6f6f6;
}
.bgdefault {
    background: #00bcd4;
}
.whitecolor {
    color: #ffffff;
}
.darkcolor {
    color: #212331;
}
.extradark-color {
    color: #212331;
}
.defaultcolor {
    color: #00bcd4;
}

/*img wrap*/
.image {
    overflow: hidden;
}
a.image{
    display: block;
}
.image img {
    width: 100%;
    display: block;
}
.image, .image img {
    position: relative;
}

.hover-effect::before,
.hover-effect::after {
   content: "";
   background: #fff;
   height: 0;
   width: 0;
   z-index: 1;
   position: absolute;
   -webkit-transition-duration: 1.3s;
	-o-transition-duration: 1.3s;
	transition-duration: 1.3s;
}
.hover-effect::before {
	right: 0;
	opacity: 1;
	top: 0;
}
.hover-effect::after {
	bottom: 0;
	opacity: .7;
	left: 0;
}
.hover-effect:hover::after, .hover-effect:hover::before {
	height: 100%;
	opacity: 0;
	width: 100%;
}

.back-top {
   color: #fff;
   right: 20px;
   font-size: 26px;
   position: fixed;
   z-index: 1600;
   opacity: 0;
   visibility: hidden;
   bottom: 70px;
   
   -webkit-transform: scale(0);
   -ms-transform: scale(0);
   -o-transform: scale(0);
   transform: scale(0);
   height: 40px;
   width: 40px;
   text-align: center;
   line-height: 36px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
 
   background: -webkit-linear-gradient(90deg, #423f9c, #862359);
   background: -webkit-gradient(linear, left top, right top, color-stop(#423f9c), color-stop(#862359));
   background: -webkit-linear-gradient(left, #423f9c, #862359);
   background: -o-linear-gradient(left, #423f9c, #862359);
   background: -webkit-gradient(linear, left top, right top, from(#423f9c), to(#862359));
   background: linear-gradient(90deg, #423f9c, #862359);
   
   background-color: #343434 !important;
}
.back-top-visible {
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   transform: scale(1);
   opacity: 1;
   visibility: visible;
}
.back-top::before {
   content: "";
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   z-index: -1;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   opacity: 0;
   visibility: hidden;
   background: -webkit-linear-gradient(90deg, #643094, #00bcd4);
   background: -webkit-gradient(linear, left top, right top, color-stop(#643094), color-stop(#00bcd4));
   background: -webkit-linear-gradient(left, #643094, #00bcd4);
   background: -o-linear-gradient(left, #643094, #00bcd4);
   background: -webkit-gradient(linear, left top, right top, from(#643094), to(#00bcd4));
   background: linear-gradient(90deg, #643094, #00bcd4);
}
.back-top:hover::before, .back-top:focus::before {
   opacity: 1;
   visibility: visible;
}
.back-top:hover, .back-top:focus {
   color: #fff;
}
section{
    position: relative;
}
section.page {
    margin-top: 1%;
    padding: 1%;
    background-color: white;
    border: 1px #aeaeae solid;
    display: block;
    min-height: 74vh;
}
header{ background-color: white; }
.border-bottom{
	border-bottom: 1px solid #cacaca !important;
}
.inteiro{ width: 100%; }
.metade{ width: 50%; }
.umQuarto{ width: 25%; }
b.logado, i.destacado {
    white-space: nowrap;
    color: #d24145 !important;
}
.default_color {
	background-color: #FD8642 !important;
	background-color: #ff914c !important;
}
.default_color a:not(.dropdown-menu a){
	color: papayawhip;
}
.default_color LI:hover{
	background-color: #FEA046;
	color: #FFD34D !important;
}
.h10{ height:10px;}
	.ls1{letter-spacing: 1px;}
	.ls2{letter-spacing: 2px;}

	div.fakeInput{
		display: block;
		font-size: 14px;
		border: 1px solid #ebedf2;
		padding: 0.6rem 1rem;
	}
	div.fakeInput[disabled], button[disabled]{
		background: #e8e8e8 !important;
		border-color: #dedede !important;
	}
	.btn.btn-sm {
		padding: 0px 3px;
		text-decoration: none !important;
		color: white !important;
	}
	LI .fakeInput, LI .form-control{
		padding: 5px 3px;
	}
	a.link{
		color: #337AB7;
		text-decoration: underline;
	}
	a.link:hover{
		color: #blue;
		text-decoration: none;
	}
	footer{
		background-position: center;
		background-color: #FD8642;
		color: #000;
		text-align: center;
		font-size: 11.5px;
		padding: 10px;
		width: 100%;
		height: auto;
		box-shadow: inset 0 3px 5px #f04033;
	}
	UL.menu{
		list-style: none;
		text-decoration: none;
		text-align: center;
		margin: 0px auto;
		align-items: center;
	}
	UL.menu LI:after{
		content: '';
		display: table;
		clear: both;
	}
	UL.menu LI{
		display: inline-block;
		cursor: pointer !important;
		padding: 0px !important;
		margin: 0px !important;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		
		-webkit-border-radius: 6px;
		-khml-border-radius: 6px;
		-moz-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
	}
	UL.menu LI a [type=button]{
		padding: 1rem 2.5rem;
	}
	.required:before {
		content: '*';
		color: darkred;
		margin-right: 3px;
		font-size: smaller;
	}
	.optional label:after{
		content: '(Opcional)';
		color: black;
		margin-left: 3px;
		font-size: smaller;
		font-weight: 600;
	}
	aside.side{
		background-color:#E3E3E333;
	}
	aside UL{
		list-style-type: none !important;
		margin: inherit !important;
		padding: inherit !important;
	}
	.column{ padding: 10px; }
	.column.side {
		-webkit-flex: 0;
		-ms-flex: 0;
		flex: 0;
	}
	.column.middle{
		-webkit-flex: 3;
		-ms-flex: 3;
		flex: 3;
	}
	.column .banner{
		padding: 9px;
		margin-bottom: 2px;
		background-color: white;
	}
	aside div{
		position:sticky;
		top:10px;
		max-width: 270px;
		overflow-x: hidden;
	}
	table.rs TH{
		cursor: pointer;
		position: relative;
		z-index: 1;
		border-bottom: solid #ff5d00 1px;
		border-top: solid #ff5d00 1px;
		color: snow;
		background-color: #FD8642 !important;
		font-size: 12px;
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-align:left;
	}
	table.rs tr:nth-child(odd){
		background-color: #eeeeee;
	}
	table.rs tr:nth-child(even){
		background-color: #ededed;
	}
	table.rs TR:hover {
		background-color: lightblue;
	}
	table.rs TD{
		text-align:left;
		font-family: "Arial";
		font-size: 13px;
	}
	table.rs TD A.noticia{
		text-decoration: none;
	}
	.id{
		color: red;
		border: 1px solid red;
		padding: 0px 3px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}
	.protocol{
		letter-spacing: 1px;
		white-space: nowrap;
	}
	.small{ font-size: 11px; }
	.tdLei{
		padding: 20px;
	}
	.mini_container .title{
		color: #444;
		font-size: 14px;
		font-weight: bold;
		text-align:center;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		padding: 10px;
		background-color: whitesmoke;
	}
	.mini_container UL{
		width: 100%;
		padding: 10px;
		list-style-type: none;
	}
	.mini_container LI{
		width: 100%;
		padding: 5px;
		border-bottom: 1px solid #DDD;
		font-family: ui-sans-serif;
		font-size: 16px;
	}
	.mini_container LI a{
		text-decoration: none;
		color: inherit;
	}
	.mini_container LI.verMais a{
		text-decoration: underline;
	}
	.mini_container LI a b:first-child{ color: #337AB7 !important; }
	.mini_container LI:hover{
		background-color: lightblue;
	}
	.justify{ text-align: justify !important; }	
	.tela_central a, .content a{
		text-decoration: underline;
		color: #1a0dab !important;
	}
	body.login {
		color: #2A2F5B !important;
		padding: 10px;
	}
	body.login main{
		transition: all .3s;
		background-color: #efcd99 !important;
		/*background: radial-gradient(circle, rgba(252,158,62,1) 0%, rgba(255,151,91,1) 35%, rgba(227,137,31,1) 100%);
		background: radial-gradient(circle, ghostwhite 9%, rgba(255, 151, 91, 1) 33%, orange 100%);*/
	}
	form .form-message{
		background-color: #efcd99 !important;
		border-color: orange !important;
		color: #9f5700;
		font-weight: 600; 
	}
	.login .wrapper.wrapper-login {
		display: flex;
		justify-content: center;
		align-items: center;
		height: unset;
		padding: 15px;
	}

	.login .wrapper.wrapper-login .container-login .form-action, .login .wrapper.wrapper-login .container-signup .form-action {
		text-align: center;
		padding: 25px 10px 0;
	}

	.login .wrapper.wrapper-login .container-login:not(.container-transparent), .login .wrapper.wrapper-login .container-signup:not(.container-transparent) {
		background: #ffffff;
		-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
		-moz-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
		box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
		border: 1px solid #ebecec;
	}

	.login .wrapper.wrapper-login .container-login, .login .wrapper.wrapper-login .container-signup {
		width: 400px;
		padding: 60px 25px;
		border-radius: 5px;
	}

	.login .wrapper.wrapper-login .container-login:not(.container-transparent), .login .wrapper.wrapper-login .container-signup:not(.container-transparent) {
		background: #ffffff;
		-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
		-moz-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
		box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
		border: 1px solid #ebecec;
	}

	.login .wrapper.wrapper-login .container-login, .login .wrapper.wrapper-login .container-signup {
		width: 400px;
		padding: 60px 25px;
		border-radius: 5px;
	}

	.login .wrapper.wrapper-login .container-login h3, .login .wrapper.wrapper-login .container-signup h3 {
		font-size: 19px;
		font-weight: 600;
		margin-bottom: 25px;
	}

	.login .wrapper.wrapper-login .container-login .form-sub, .login .wrapper.wrapper-login .container-signup .form-sub {
		align-items: center;
		justify-content: space-between;
		padding: 8px 10px;
	}

	.login .wrapper.wrapper-login .container-login .form-action, .login .wrapper.wrapper-login .container-signup .form-action {
		text-align: center;
		padding: 25px 10px 0;
	}

	.login .show-password {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		cursor: pointer;
	}

	.login .wrapper.wrapper-login .container-login .btn-login, .login .wrapper.wrapper-login .container-signup .btn-login {
		padding: 15px 0;
		width: 135px;
	}

	.login .wrapper.wrapper-login .container-login .login-account, .login .wrapper.wrapper-login .container-signup .login-account {
		padding-top: 10px;
		text-align: center;
	}

	.login .wrapper.wrapper-login .container-signup .form-action {
		display: flex;
		justify-content: center;
	}

	.login .wrapper.wrapper-login .container-login .form-action, .login .wrapper.wrapper-login .container-signup .form-action {
		text-align: center;
		padding: 25px 10px 0;
	}

	body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: 'Lato', sans-serif;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		line-height: 1.4;
	}

	h3, .h3 {
		font-size: 1.1625rem;
	}

	.input-border-bottom {
		border-width: 0 0 1px 0;
		border-radius: 0px;
		padding: .75rem 0;
		background: transparent !important;
	}

	.form-control {
		font-size: 14px;
		border-color: #ebedf2;
		padding: .6rem 1rem;
		height: inherit !important;
	}

	.input-border-bottom {
		border-width: 0 0 1px 0;
		border-radius: 0px;
		padding: .75rem 0;
		background: transparent !important;
	}

	.icon-eye {
		font-family: simple-line-icons;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.fadeIn {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
	}
	.animated {
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	.text-center {
		text-align: center!important;
	}

	.form-floating-label {
		position: relative;
	}

	.form-group, .form-check {
		margin-bottom: 0;
		padding: 10px;
	}
	.form-cell{
		margin-bottom: 0;
		padding: 1px;
	}
	.form-cell.collapse{
		margin-bottom: 0;
		padding: 0px;
	}
